/*Universal Rules*/
.hidden
{
	display: none;
}

@font-face {
	font-family: 'heinekenregular';
	src: url('../fonts/heineken-webfont.woff2') format('woff2'),
		 url('../fonts/heineken-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body
{
	font-family: 'heinekenregular', Arial, sans-serif;
	background-color: #FFF;
}

h2
{
	font-family: 'heinekenregular';
	font-size: 25px;
	letter-spacing: 1px;
	color: #fff;
	text-decoration: underline;
	padding-bottom: 10px;
}

p
{
	font-family: 'Arial';
	font-size: 14px;
	font-weight: 300;
	margin-top: 10px;
	line-height: 16px;
	letter-spacing: 1px;
}

#container
{
	max-width: 1200px;
	margin: 0 auto;
	color: #fff;
}

/*Header*/
header
{
	background-color: #028744;
	padding-bottom: 10px;
	margin-bottom: 20px;
}
header ul li a
{
	text-decoration: none;
}

#mainLogo
{
	display: block;
	height: 111px;
	margin: 0 auto;
	max-width: 275px;
}

#mainNav button
{
	background: url(../images/burger.svg) center no-repeat;
	height: 20px;
	width: 20px;
	border: 1px;
	transition: all 350ms ease;
	margin: 10px 10px 0 auto;
}

#mainNav
{
	display: flex;
	flex-direction: column;
}

#mainNav li a
{
	display: block;
	color: #FFF;
	padding: 10px 0 10px 0;
	text-align: center;
	background-color: #028744;
	font-family: 'heinekenregular';
	letter-spacing: 2.5px;
	font-size: 16px;
}

#mainNav li a:hover
{
	background-color: #005d1f;
}

#mainNav li
{
	border-bottom: 1px solid #005d1f;
}

#mainNav li:first-child
{
	border-top: solid 1px #005d1f;
}

#mainNav li:last-child
{
	margin-bottom: 10px;
}

#burgerCon
{
	margin-top: 20px;
	display: none;
}

#burgerCon.slideToggle
{
	display: block;
}

/*Footer Rules*/
footer
{
	background-color: #028744;
	padding: 15px 15px 0 15px;
}

#mainFooter
{
	display: flex;
	flex-direction: column;
}

#socialCon
{
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#socialCon h2
{
	margin: 0 auto;
}

#socialIcons
{
	display: flex;
	flex-direction: row;
}

#socialIcons a
{
	width: 40px;
	margin-right: 10px;
}

#socialIcons a:hover
{
	width: 50px;
	margin-bottom: -5px;
	padding-bottom: -5px;
}

#footerNav
{
	margin: 0 auto 10px auto;
}

#footerNav a
{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	text-decoration: none;
	color: #fff;
	font-family: 'heinekenregular';
	font-size: 16px;
	letter-spacing: 1.5px;
}

#footerNav a:hover
{
	text-decoration: underline #fff;
}

#footerLogo
{
	display: block;
	height: 150px;
	margin: 0 auto 0 auto;
}

#mainFooter p
{
	font-family: 'heinekenregular'
	font-size: 12px;
	letter-spacing: 2px;
	margin: 0 auto;
	padding-bottom: 10px;
}

/*index Content*/
#promoImage
{
	background-color: #767676AA;
	height: 175px;
	box-shadow: 2px 3px 2px #808285F3;
	margin-bottom: 20px;
}

.info
{
	background-color: #028744;
	margin: 0 auto;
	box-shadow: 2px 3px 2px #808285F3;
	margin-bottom: 20px;
	padding: 15px;
}

@media screen and (min-width: 450px){
	.info
	{
		margin-left: 10px;
		margin-right: 10px;
	}
}

.info a
{
	text-decoration: none;
}

.history a
{
	display: block;
	width: 110px;
	text-decoration: none;
	background-color: #bcbec0;
	padding: 10px 5px 10px 10px;
	font-size: 16px;
	letter-spacing: 1px;
	color: white;
	border-radius: 5px;
	margin: 10px auto 0 auto;
}

/*About Us Page*/

video
{
	max-width: 100%;
}

/*Product Page*/
.info a
{
	display: block;
	width: 110px;
	text-decoration: none;
	background-color: #bcbec0;
	padding: 10px 5px 10px 10px;
	font-size: 16px;
	letter-spacing: 1px;
	color: white;
	border-radius: 5px;
	margin: 10px auto 0 auto;
}

.product
{
	display: none;
}

.mobileProduct ul
{
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.mobileProduct ul li
{
	display: inline;
	margin-right: 10px;
	color: #FFF;
	cursor: pointer;
	transition: all .2s ease;
}

.mobileProduct ul li:last-child
{
	margin-right: 0;
}

.mobileProduct li:hover
{
	border-bottom: 2px solid #FFF;
}

/*Gallery*/

/*Purchase*/
.map
{
	display: none;
}

.contactUs p
{
	margin-bottom: 20px;
}

label
{
	margin: 20px 0 10px 10px;
	font-family: 'heinekenregular';
	font-size: 16px;
	text-decoration: underline;
}

input
{
	padding: 5px 0 5px 0;
	margin-left: 15px;
	margin-bottom: 10px;
}

textarea
{
	margin-left: 15px;
	margin-bottom: 10px;
	height: 100px;
	width: 80%;
}


input[type=submit]{
	display: block;
	width: 110px;
	text-decoration: none;
	background-color: #bcbec0;
	padding: 10px 5px 10px 10px;
	font-size: 16px;
	letter-spacing: 1px;
	color: white;
	border-radius: 5px;
	margin: 10px auto 0 auto;
}