.hidden
{
	display: none;
}

#container
{
	max-width: 1200px;
	background-color: #fff;
	margin: 0 auto;
}

@media screen and (min-width: 800px) {
	body
	{
		background-color: #028744e1;
		/*Main green colour with transparency*/
	}



	header
	{
		background: #028744;
		/*background: linear-gradient(180deg, rgba(2,135,68,1) 98%, rgba(0,93,31,1) 100%);*/
		height: 200px
	}
}